body{
  background-color: #0B1D3A;
  height:1000px;
  color:#C3CAD0 ;
  
}
.space{
  height:12rem
}
.space1{
  height: 2rem;
}
.space2{
  height:4rem;
}
.nav-link {
  
  outline: none;
  box-shadow: none;
}

.nav-link:hover,
.nav-link:focus {
  color: gray;
  text-decoration: none;
}


.navbar-toggler:focus{
outline: none;
box-shadow: none;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

.loader--hide {
  opacity: 0;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}