body{
  background-color: #0B1D3A;
  height:1000px;
  color:#C3CAD0 ;
  
}
.space{
  height:12rem
}
.space1{
  height: 4rem;
}
.nav-link {
  
  outline: none;
  box-shadow: none;
}

.nav-link:hover,
.nav-link:focus {
  color: gray;
  text-decoration: none;
}


.navbar-toggler:focus{
outline: none;
box-shadow: none;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}